.card-list {
	display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 20px;
	padding-top: 10px;
	vertical-align: middle;
	margin: 5px;
}

.card {
	background-color: white;
	color: #272727;
	padding: 20px;
	border-radius: 10px;
	border: 0px;
	border-color: tomato;
	border-style: solid;
	transition: 200ms;
    max-width: 500px;
	vertical-align: middle;
	}

.card:hover {
	transition: 200ms;
	border: 3px;
	border-color: tomato;
	border-style: solid;
}

.card-header {
	display: flex;
	justify-content: center;
	align-items: center;

}

.profile {
	
	width: 10 px;
	
	margin: 10px;
	font-size: 20pt;
	text-align: center;
	font-weight: bold;
	color: rgb(8, 8, 8);
	
	
}

.letter {
	vertical-align: center;
	float: left;
}

.card-title-group {
	justify-content: center;
	height: 100px;
	line-height: 100px;
	display: block;
	flex-direction: column;	

	}
	.title-text{
		display: inline-block;
		line-height: normal;
		vertical-align: middle;
	}
.card-title {
	flex: 0.5;
	font-size: large;
	margin-bottom: 0;
	margin-top: 0;
	
	
}
.card-date {
	flex: 0.3;
	font-size: small;
	margin-top: 0;
	line-height: normal;
	color: #585757;

}

.card-image {
	border-radius: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
	height: 250px;


}

.card-text{
	height: 80px;
}
 .btn btn-outline-secondary{
	 margin-bottom: 5px;
 }