/* const Link = {
    width: '100px',
    padding: '6px 12px',
    margin: '0 6px 6px',
    background: 'green',
    textDecoration: 'none',
    color: 'white',
  };

  .Navbar{
  background-color: aqua;
}