
.Footer {
    height: 20px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #D1A954;
  }
  .Header {
    position: relative;
    height: 100px;
    width: 100%;
    background-color: #D1A954;
   }
   #root {
    position: relative;
    min-height: 100vh;
    padding-bottom: 20px;
  }