@media (prefers-reduced-motion: no-preference) {
  @import '~bootstrap/scss/bootstrap';
}
<<<<<<< HEAD


body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Lora', serif;
}


.App {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}

=======


body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Lora', serif;
}
>>>>>>> 08c7efd (navbar and footer)
