@media (prefers-reduced-motion: no-preference) {
  @import '~bootstrap/scss/bootstrap';
}
.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: #454547;
  color: white;
}


