@import '~bootstrap/scss/bootstrap';

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Lora', serif;
<<<<<<< HEAD
}

img {
  display: block;
  max-width: 100%;
  height: auto;
=======
>>>>>>> 08c7efd (navbar and footer)
}
